<!-- Side nav for mobile -->
<!-- <mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <div *ngIf="rules.isLoggedIn">
        <mat-list-item color="primary" [ngClass]="{'text-primary': activeLink == link}" *ngFor="let link of links"
          (click)="activeLink = link"> {{link}} </mat-list-item>
        <mat-list-item>
          <mat-select color="primary" (click)="openBottomSheet()">{{activeHousehold.name}}</mat-select>
        </mat-list-item>
      </div>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">Admin</button>
        <mat-menu #menu="matMenu" xPosition="after">
          <button mat-menu-item *ngFor="let link of adminLinks" (click)="activeLink = link">{{link}}</button>
        </mat-menu>
      </div>
      <button *ngIf="rules.isLoggedIn == false" mat-raised-button color="primary"
        (click)="openLoginDialog()">Login</button>
      <button *ngIf="rules.isLoggedIn == true" mat-raised-button color="warn" (click)="logOut()">Logout</button>

    </mat-list>
  </mat-drawer> -->

<nav class="navbar navbar-expand-xl navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="''">ATP Rankings
    </a>
    <!--       <button (click)="drawer.toggle()" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    <div class="collapse navbar-collapse d-flex-md justify-content-between" id="navbarSupportedContent">
      <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li ngbNavItem>
          <a ngbNavLink [routerLink]="'players'">Players</a>
        </li>
        <li ngbNavItem>
          <a ngbNavLink [routerLink]="'top'">Top</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
