<!-- Side nav for mobile -->
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="over">
    <mat-list>
      <mat-list-item>
        <a [routerLink]="'players'">Players</a>
      </mat-list-item>
      <mat-list-item>
        <a [routerLink]="'top'">Top</a>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <nav class="navbar navbar-expand-xl navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="''">ATP Rankings
      </a>
      <button (click)="drawer.toggle()" class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex-md justify-content-between" id="navbarSupportedContent">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink [routerLink]="'players'">Players</a>
          </li>
          <li ngbNavItem>
            <a ngbNavLink [routerLink]="'top'">Top</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
