<div class="container-fluid m-5">
  <h1>Top Players</h1>
  <p *ngFor="let item of topThree">{{item.name}}</p>
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Pick one"
             aria-label="Search"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto" >
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
          {{option.name}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div *ngIf="selectedPlayer != undefined">
    <p>Id : {{this.selectedPlayer.id}}</p>
    <p>Name : {{this.selectedPlayer.name}}</p>
    <p>Country : {{this.selectedPlayer.country}}</p>
    <p>Age : {{this.selectedPlayer.age}}</p>
    <p>Points : {{this.selectedPlayer.points}}</p>
    <p>Tournaments played : {{this.selectedPlayer.tournamentsPlayed}}</p>
  </div>


</div>
